{ 
  presets: [
    ['@babel/preset-env',{    // @babel/preset-env包含了所有es6语法转化为es5语法的规则。
        targets: {
            chrome: '67', // chrome67以上的浏览器版本不需要转es5语法
        },
        useBuiltIns: 'usage'  //  @babel/polyfill根据业务代码中出现的es6语法来做打包。减少打包的体积
      }
    ],
    "@babel/preset-react"
  ]
}